# Ignore PyCharm project folder
.idea/

# Python bytecode
__pycache__/
*.pyc
*.pyo

.git/
.pyc

# Virtual environments
venv/
env/

# Environment variable files
.env

# Logs
*.log

# png
*.png

# eps
*.eps

# IDE files and folders
.vscode/

Depreciated

Legacy/Examples

Theo/Tests/Outputs