# Ignore PyCharm project folder
.idea/

# Python bytecode
__pycache__/
*.pyc
*.pyo

.git/
.pyc

# Virtual environments
venv/
env/

.env

*.log

*.png

*.eps

*.md

# IDE files and folders
.vscode/

Depreciated

Theo/Tests/Outputs